<html lang="zh-cn">
  <head>
      <meta charset="utf-8">
      <title>没有人会注意到标题的</title>
      <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
      <div class="container">
         <div class="jumbotron">
           <h1 class="primary">Shenmegui
              <small>laji!</small></h1>
           <p class="lead">After all, no one would see this</p>
           <p>到底要怎么输入才能让这里成功显示汉语呢= =，不管怎么打网页都是一团乱码的说=。=</p> 
         </div>
         <p><a href="/login">login</a></p>
       </div>

       <div class="container">
          <h3 class="text-primary text-center">CHOOSE YOUR PROPERTY TO CONTINUE</h3>
            <button type="button" class="btn btn-primary btn-lg">
		HANDSOME</button>
	    <button type="button" class="btn btn-primary btn-lg">
		TALL</button>
	    <button type="button" class="btn btn-primary btn-lg">
		RICH</button>
	    <a type="button" class="btn btn-danger btn-lg" href="#">
		NOTHING ABOVE</a>
       </div>
  </body>
</html>
