div#todoapp
	header
		h1 NodeJS + MongoDB Todos
		input(id="new-todo", type="text", placeholder="What need to be done?")
	
	section#main
		input(id="toggle-all", type="checkbox")
		label(for="toggle-all") Mark all as complete
		ul#todo-list

	footer
		a(id="clear-completed") Clear completed
		div#todo-count

div#instructions
	//p Double-click to edit a todo.
		
div#credits
	p Base by 
		a(href='http://sindresorhus.com', target='_blank') Sindre Sorhus. 
	p NodeJS + Mongoose structure by 
		a(href='http://labs.webdiastutoriais.com', target='_blank') Hugo Dias.

