!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/todo.css')
    script(src='/javascripts/json2.js', type='text/javascript')
    script(src='/javascripts/jquery-1.7.1.min.js', type='text/javascript')
    script(src='/javascripts/todo.js', type='text/javascript')
  body!= body